*{
    box-sizing: border-box;
    transition: all .2s linear;
}

body{
    background-color: rgb(239, 231, 222);
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 15px;

}
.btn{
    margin: 5px 25px;
    padding: 5px 30px;
    border-radius: 20px;
    border: rgb(199, 221, 223) solid 1px;
}
.btn:hover{
    color: white;
    background-color: black;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 3px 5px #000;
}

.gallery a{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.gallery a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}